@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Telegraf';
  src: url('/fonts/PPTelegraf-Regular.woff2') format('woff2'),
      url('/fonts/PPTelegraf-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Telegraf';
  src: url('/fonts/PPTelegraf-UltraBold.woff2') format('woff2'),
      url('/fonts/PPTelegraf-UltraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Telegraf';
  src: url('/fonts/PPTelegraf-UltraLight.woff2') format('woff2'),
      url('/fonts/PPTelegraf-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PP Telegraf'
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.effect-1 {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
